reports
dist
target
bin
bin.timestamp
deploy/*.jar
logs
.project
.settings
.classpath
.scala_dependencies
.metadata
*.class
.manager
target/
lib_managed/
src_managed/
project/boot/
tags
.ensime.msg.counter
ensime_port
.idea
.idea/
.idea_modules/
.history
.cache
.DS_Store
.vagrant
*.sc
*.swp
*.py
projectFilesBackup*/
dockercfg
Vagrant
buildinfo.properties
native/
## local overrides
src/main/resources/local.conf
.envrc
sql/
data/
playbook/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.terraform/
stringer_build/
